version: '3.8'

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama_server
    ports:
      - "11435:11434"
    volumes:
      - ollama_storage:/root/.ollama

  app:
    build: .
    container_name: finwell_app
    ports:
      - "8501:8501"
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama

volumes:
  ollama_storage: